JwtSettings__SecretKey=
JwtSettings__Issuer=
JwtSettings__Audience=
JwtSettings__ExpiryMinutes=

SmtpSettings__Host=
SmtpSettings__Port=
SmtpSettings__EnableSsl=
SmtpSettings__SenderName=
SmtpSettings__SenderEmail=
SmtpSettings__Username=
SmtpSettings__Password=

ConnectionStrings__DefaultConnection=

SUPABASE_URL=
SUPABASE_API_KEY=
SUPABASE_BUCKET_NAME=